################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backend/NexoraAPI/.vs/NexoraAPI/CopilotIndices/17.14.1691.21253
/Backend/NexoraAPI/.vs/NexoraAPI.slnx/FileContentIndex
